/* font-family: clarendon-urw, serif; font-weight: 400; font-style: normal;*/
html{
	scroll-behavior: smooth;
}
body{
	background-color: #F2F2F2;
}
h1{
	font-family: clarendon-urw, serif;
	font-weight: 400;
	font-style: normal;
	color: #004238;
}

p{
	color: #444444;
	font-family: 'Roboto', sans-serif;
}


header{
	color: #004238;
	font-family: clarendon-urw, serif;
		font-weight: bold;
		font-size: 36px;
		margin: 0;


}


#head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #A7D1C9;
	padding: 20px 5%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

/*nav a {
	color: #333;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 20px;
}

nav a:hover{
	color: #0077b6;
}*/

nav{
	font-family: clarendon-urw, serif;
		font-weight: bold;
	font-style: normal;
	/*border: 3px solid #004238;
	border-radius: 10px;*/
}

nav ul{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 0;

}

nav li{
	display: inline;

}

nav li a{
	display: block;
	font-size: 20px;
	margin-left: 20px;
	padding: 0 5px 0 5px;
	color: #00947c;
	text-decoration: none;
}

nav li a:hover{
	color: white;
	font-size: 25px;
	background-color: #00947c;
	border-radius: 10px;
}


footer{
	background-color: #A7D1C9;
		width: 100%;
	font-family: clarendon-urw, serif;
		font-weight: bolder;
	font-style: normal;
		font-size: 20px;
	padding: 20px 0px 20px 0px;
	text-align: center;
		box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

footer a{
	text-decoration: none;
		color: #004238;
}

video::-webkit-media-controls {
    display:none !important;
}

strong{ color:  #00947c;}


/* home */


.introPg{
		margin: 20px;
	text-align: left;
		padding: 20px 5%;
		width: 45%;
		background-color: #00947c;
			box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

.introPg p {
	color: #f5f5f5;
	font-size: 20px;
	font-weight: 500;
}

.show-reel{
	text-align: center;
	padding: 40px 0;
}

.show-reel h2{
	font-family: clarendon-urw, serif;
	font-size: 48px;
	margin: 0;
	margin-bottom: 20px;
}

.show-reel hr{
	border: none;
	border-top: 3px solid #004238;
	width: 80%;
	margin: 0 auto;
}

.show-reel a{
	text-decoration: none;
			color: #004238;
}

.showR{
	display: flex;
	justify-content: center;
	align-items: center;
		border: 5px solid #323030;
		background-color: black;
	border-radius: 10px;
margin-left:  auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
padding:56.25% 0 0 0;position:relative;
	max-width: 80%;

}

#gJam a{
		text-decoration: none;
	color: #004238;
}

#gJam a:hover{
		color: white;
	background-color: #00947c;
	border-radius: 10px;
}

#gJam img{
				box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

#gJam video{
				box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}


.black{
	background-color: black;
}

/* portfolio */
#vgames a{
	text-decoration: none;
	color: #004238;
}

#vgames a:hover{
		color: white;
	background-color: #00947c;
	border-radius: 10px;
}

#vgames img{
				box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

#vgames video{
				box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

#pizza{
	display: flex;
	align-items: flex-start;
	justify-content: center;
		padding: 20px 5%;
}

.l-image{
	flex: 1;
}

#pizza video{
	max-width: 100%;
height: auto;
			box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

.content {
	flex: 1;
	padding: 0 20px;
	margin-left: 20px;
}

.content p{
	font-size: 16;
	line-height: 1.5;
	width: 80%;
}

.nandn{
	padding:2% 8%;
}

.ben{
		border-radius: 10px;
		text-align: center;
	font-family: clarendon-urw, serif;
		font-weight: 400;
	font-style: normal;
		font-size: 35px;
		background-color: #84d904;
		width: 100%;
		margin-top: 5px;
		margin-bottom: 5px; 
		padding: 10px 0px 10px 0px;
}
#purp{
	background-color: #7378d9;
}

.number{
	display: flex;
	margin: 0 20px;
}

.erow
{
	display: flex;
	justify-content: center;
	margin: 10px 0;

}
#myPictures{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 4%;
}


#myPictures img{
	width: 48%;
	margin: 0 1%;
	box-sizing: border-box;
	border: 2px solid white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}


#pictures{
	display: flex;

}

.image{
	width: 100%;
}

/* resume */

#res{
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	border: 5px solid #004238;;
}

#res a{
	font-size: 12px;
}

#GamesProd{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.sect ul{
		color: #444444;
	font-family: 'Roboto', sans-serif;
}

#link a{
	font-size: 20px;
	text-decoration: none;
	color: #00947c;
}

#link a:hover{
		color: white;
	background-color: #00947c;
	border-radius: 2px;
}

.linkedin a{
	text-decoration: none;
	color: #00947c;
}

.linkedin a:hover{
		color: white;
	background-color: #00947c;
	border-radius: 2px;
}


.fade-in-section{
	opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
  transform: none;
  visibility: visible;
}

/*breakdown*/

#stages{
	width: 100%;
	font-family: clarendon-urw, serif;
		font-weight: 400;
	font-style: normal;
	background-color: #00947c;
	border-radius: 10px;
			box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}


#stages ul{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 0;

}

#stages li{
	display: inline;

}

#stages li a{
	display: block;
	margin: 0 auto;
	font-size: 30px;
	margin: 20px;
	padding: 0 5px 0 5px;
	color: white;
	text-decoration: none;
}

#stages li a:hover{
	color: #004238;
	font-size: 35px;
	background-color: #A7D1C9;
	border-radius: 10px;
}

.breakPg{
		margin: 20px;
	text-align: left;
		padding: 20px 5%;
		width: 45%;
		background-color: #A7D1C9;
			box-shadow: 0 2px 4px rgba(0,0,0,0.75);
			height: 50%;

}

.paragraph{
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
			padding: 20px 5%;
			background-color: #A7D1C9;
			box-shadow: 0 2px 4px rgba(0,0,0,0.75);

}

.paragraph p {
	color: black;
}


.breakPg p{
	color: black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brow{
  display: flex;
  justify-content: center;
  margin: 10px 0;

}

.brow img{
  width: 48%;
  margin: 0 1%;
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

.brow video{
  width: 48%;
  margin: 0 1%;
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}


#PTpictures{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.largeT{
	font-size: 24px;

}

.noDecoration{
		text-decoration: none;
		color: black;
}

.shadow{
	box-sizing: border-box;
	border: 2px solid white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75);
}

@media screen and (max-width: 650px)
{

	nav li a{
		font-size: 15px;
	}

	nav li a:hover{
	font-size: 18px;
}

header{
	width: 66%;
	font-size: 22px;
}

.paragraph{
	padding: 10px;
}

/* portfolio */

.number{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	width: 90%;

}



#pizza{
flex-direction: column;
justify-content: center;	
}

.erow {
	flex-direction: column;
	align-items: center;
}


#myPictures img{
	width: 80%;
	margin: 0;
}

#pictures
{
	flex-direction: column;
		margin-bottom: 10px;
}

#pictures img{
	margin-top: 10px;

}

.numb1{
	width: 100%;
}


/* resume */
.sect{
	margin: 15px 10px 20px 10px;
}

.group{
	display: flex;
	flex-direction: column;
}

#res{
	margin-bottom: 10px ;
	margin-top: 10px;
}

#GamesProd{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

/* breakdown*/

#PTpictures{
	flex-direction: column;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
}

	#stages li a{
		font-size: 15px;
	}

	#stages li a:hover{
	font-size: 25px;
}


.brow {
	flex-direction: column;
	align-items: center;
}


.container img{
	width: 80%;
	margin: 0;
}

.container video{
	width: 80%;
	margin: 0;
}
}



@media screen and (min-width: 651px) and (max-width: 999px)
{

	header{
	width: 66%;
}

	nav li a{
		font-size: 20px;
	}


/* portfolio */
.number{
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;

}



.nandn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	
}

#pictures
{
	flex-direction: column;
		margin-bottom: 10px;
}

#pictures img{
	margin-top: 10px;

}

.numb1{
	width: 100%;
}

/* resume */
.sect{
	margin: 15px 10px 20px 10px;
}

.group .sect{
	width: 45%;
}

.group{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}

#res{
	margin-bottom: 10px ;
	margin-top: 10px;
	padding: 10px;
}

.indy{
	width: 45%;
	display: flex;
	flex-direction: column;
}

/* breakdown*/
#stages li a{
	font-size: 20px;
}

#stages li a:hover{
	font-size: 22px;
}

}



@media screen and (min-width: 1000px)
{

	header{
	width: 45%;
	font-size: 50px;
	}
/* home */
	.dub{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 45px;
	}
	.paragraph{

	padding: 20px;
	margin: 15px;
	/*width: 100%;*/
}
#ipg{
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 15px;*/
}

/* portfolio */
.row
{
		
		margin: 15px;

}
#pictures{
	flex-direction: row;
}


#pictures img{
	margin-top: 15px;
}

.numb1{
	width: 100%
}

#vgames{
	margin-top: 30px;
}

.number{
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;
}
.nandn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	
}


/* resume */
#res{
	margin: 10px;
	padding: 10px;
}

.sect{
	margin: 15px 10px 20px 10px;
}

/* breakdowm */

#gdd{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

	.picRow{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 90%;
			margin: 15px 10px 20px 10px;

		
	}

}